{% extends "base.html" %}

{% block title %}Portfolio Data - Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns is-flex-wrap-wrap">

            <div class="column is-half">
                <div class="columns is-flex-wrap-wrap">
                    <div class="column is-full">
                        <div class="box">
                            <div class="content">
                                <div class="page-section" id="General"></div>
                                <h2>General</h2>
                                {% include'/includes/_general_data.html' %}
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="box">
                            <div class="content">
                                <div class="page-section" id="Skills"></div>
                                <h2>Skills</h2>
                                {% include'/includes/_skills_data.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="box">
                    <div class="content">
                        <div class="page-section" id="About"></div>
                        <h2>About</h2>
                        {% include'/includes/_about_data.html' %}
                    </div>
                </div>
            </div>


            <div class="column is-full">
                <div class="box">
                    <div class="content">
                        <div class="page-section" id="Experience"></div>
                        <h2>Experience</h2>
                        {% include'/includes/_experience_data.html' %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="box">
                    <div class="content">
                        <div class="page-section" id="Education"></div>
                        <h2>Education</h2>
                        {% include'/includes/_education_data.html' %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="box">
                    <div class="content">
                        <div class="page-section" id="Project"></div>
                        <h2>Projects</h2>
                        {% include'/includes/_project_data.html' %}
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const delete_btns = document.querySelectorAll('.btn-delete');

        for (let btn of delete_btns) {
            btn.addEventListener('click', function (e) {
                e.preventDefault();
                if (window.confirm('Delete Info?')) {
                    window.location = e.target.href;
                }
            });
        }

        //image lightbox MAKE FUNCTION or PLUGIN
    </script>
{% endblock %}