{% extends "base.html" %}

{% block title %}Portfolio Data - Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns is-flex-wrap-wrap">

            <div class="column is-half">
                <div class="columns is-flex-wrap-wrap">
                    <div class="column is-full">
                        <div class="box">
                            <div class="content">
                                <div class="page-section" id="General"></div>
                                <h2>General</h2>
                                {% include'/includes/_general_data.html' %}
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="box">
                            <div class="content">
                                <div class="page-section" id="Skills"></div>
                                <h2>Skills</h2>
                                {% include'/includes/_skills_data.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="box">
                    <div class="content">
                        <div class="page-section" id="About"></div>
                        <h2>About</h2>
                        {% include'/includes/_about_data.html' %}
                    </div>
                </div>
            </div>


            <div class="column is-full">
                <div class="box">
                    <div class="content">
                        <div class="page-section" id="Experience"></div>
                        <h2>Experience</h2>
                        {% include'/includes/_experience_data.html' %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="box">
                    <div class="content">
                        <div class="page-section" id="Education"></div>
                        <h2>Education</h2>
                        {% include'/includes/_education_data.html' %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="box">
                    <div class="content">
                        <div class="page-section" id="Project"></div>
                        <h2>Projects</h2>
                        {% include'/includes/_project_data.html' %}
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const delete_btns = document.querySelectorAll('.btn-delete');

        for (let btn of delete_btns) {
            btn.addEventListener('click', (e) => {
                e.preventDefault();
                if (window.confirm('Delete Info?')) {
                    window.location = e.target.closest('a').href;
                }
            });
        }


        const save_order_btns = document.querySelectorAll('.save-order-btn')

        for (let orderBtn of save_order_btns) {
            orderBtn.addEventListener('click', (e) => {
                url = '/edit-experience-order?';
                e.preventDefault();
                const containerInput = e.target.closest('.content').querySelectorAll('.order-input');

                params = '';
                for (let i = 0; i < containerInput.length; i++) {
                    params += '&order=' + containerInput[i].value;
                }

                window.location = window.location.origin + url + params
            });
        }


        const inputs = document.querySelectorAll('.order-input')

        for (let orderInput of inputs) {
            orderInput.addEventListener('change', (e) => {
                e.preventDefault();
                const containerInput = e.target.closest('.table').querySelectorAll('.order-input');

                if (e.target.value > containerInput.length) {
                    e.target.value = containerInput.length;
                }
            });
        }

{#        var request = new XMLHttpRequest();#}
{#request.open('POST', '/my/url', true);#}
{#request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');#}
{#request.send(data);#}

        //image lightbox MAKE FUNCTION or PLUGIN
    </script>
{% endblock %}