{% extends "bootstrap/base.html" %}

{% block title %}Portfolio Data{% endblock %}

{% block content %}
    {% include'header.html' %}

    <div class="container" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-xs-12">
                <h3>General</h3>
                {% if general_info %}
                    {% include'/includes/_general_data.html' %}

                    <hr>

                    <h3 style="margin-top: 50px;">About</h3>
                    {% include'/includes/_about_data.html' %}

                    <hr>

                    <h3 style="margin-top: 50px;">Experience</h3>
                    {% include'/includes/_experience_data.html' %}

                    <hr>

                    <h3 style="margin-top: 50px;">Education</h3>
                    {% include'/includes/_education_data.html' %}

                    <hr>

                    <h3 style="margin-top: 50px;">Skills</h3>
                    {% include'/includes/_skills_data.html' %}

                    <hr>

                    <h3 style="margin-top: 50px;">Projects</h3>
                    {% include'/includes/_project_data.html' %}
                {% else %}
                    <a href="{{ url_for('general') }}"><button type="button" class="btn btn-primary">Add General Info</button></a>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    {{super()}}
{% endblock %}