{% extends "base.html" %}
{% from "_render_form.html" import render_field %}

{% block title %}Portfolio Data - Account{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-8-tablet is-6-desktop">
                <div class="box">
                    <div class="content">
                        <h2>My Account</h2>

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <article class="message is-success">
                                        <div class="message-body">
                                            {{ message }}
                                        </div>
                                    </article>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>

                    <form action="{{ url_for(request.endpoint) }}" method="POST">
                        {{ form.csrf_token }}

                        {% for field in form %}
                            {{ render_field(field) }}
                        {% endfor %}

                        <div class="json-link my-3">
                            {% if api %}
                                <a class="black" target="_blank" href="/json?api={{ api }}">Check out your JSON</a>
                            {% endif %}
                        </div>

                        <div class="field is-grouped">
                            <p class="control">
                                <input class="button main-teal-bg white" type="submit" name="submit" id="submit"
                                       value="Save">
                            </p>
                            <p class="control">
                                <a class="button main-red-bg white" id="api_button">Generate API</a>
                            </p>
                            <p class="control">
                                <a class="button color-none waves-effect waves-light"
                                   href="{{ url_for('main_page.home') }}">Go Back</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.getElementById('api_button').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('api_key').value = generateAPI(24);
            document.getElementById('api_key').focus();
            document.querySelector('.json-link').innerHTML = '<article class="message is-dark"><div class="message-body">Save your new generated API key to see your new JSON.</div></article>';
        });
    </script>
{% endblock %}