/***************************/
/***       General      ***/
/***************************/
:root {
    --white: #fff;
    --black: #000;
    --main-light-red: #e57373;
    --main-light-red-hover: #dc5555;
    --main-teal: #26a69a;
    --red: #c62828;
    --green: #2e7d32;
    --light-grey: #eeeeee;
    --white-grey: #f8f8f8;
    --opensans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.main-red-bg {background-color: var(--main-light-red);}
.white {color: var(--white);}

body {
    font-family: var(--opensans);
    background-color: var(--white-grey);
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--poppins);
}

h3 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin: 15px 0;
    width: fit-content;
}
h2 {
    margin: 15px 0 30px 0;
    padding-bottom: 10px;
}

nav {
    height: 100px;
    line-height: 100px;
}
nav .navbar-item i {
    margin-right: 5px;
}
.navbar-item {
    color: var(--white) !important;
    transition: var(--transition);
}
a.navbar-item:hover {
    background-color: var(--main-light-red-hover) !important;
}

.page-section {
    top: -200px;
    position: absolute;
}

.edit-form-img {
    max-width: 300px;
    width: 100%;
}
.brand-logo img {
    width: 150px;
    vertical-align: middle;
}

/*.messaging {*/
/*    font-size: 13px;*/
/*}*/
/*.error-message {*/
/*    color: var(--red);*/
/*    margin-top: 0;*/
/*}*/
/*.text-warning {*/
/*    color: var(--red);*/
/*    padding-bottom: 10px;*/
/*}*/
/*.text-success {*/
/*    color: var(--green);*/
/*    padding-bottom: 10px;*/
/*}*/