h2, h3 {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
h2 {
    border-bottom: 0;
    margin-bottom: 30px;
}
table img {
    max-width: 100px;
    width: 100%;
}
.edit-form-img {
    max-width: 300px;
    width: 100%;
}
table {
    margin: 20px 0;
}
.table-btn {
    margin: 0 0 75px 0;
}
.form__button-container {
    margin: 20px 0 0 0;
}
.error-message {
    color: #b71c1c;
    font-size: 12px;
    margin-top: 0;
}
.text-warning {
    color: #b71c1c;
    font-size: 12px;
    padding-bottom: 10px;
}
.text-success {
    color: #81c784;
    font-size: 12px;
    padding-bottom: 10px;
}