/***************************/
/***       General      ***/
/***************************/
:root {
    --white: #fff;
    --black: #000;
    --main-light-red: #e57373;
    --main-light-red-hover: #dc5555;
    --main-teal: #38bbb0;
    --main-teal-hover: #317f7d;
    --red: #c62828;
    --red-hover: #9c2b2b;
    --green: #2e7d32;
    --light-grey: #eeeeee;
    --light-grey-hover: #dedede;
    --white-grey: #f8f8f8;
    --blue-grey: #536073;
    --opensans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.main-red-bg {background-color: var(--main-light-red);}
.main-teal-bg {background-color: var(--main-teal);}
.light-grey-bg {background-color: var(--light-grey);}
.blue-grey-bg {background-color: var(--blue-grey);}
.red-bg {background-color: var(--red);}
.main-red {color: var(--main-light-red);}
.white {color: var(--white);}
.black {color: var(--black);}


body {
    font-family: var(--opensans);
    background-color: var(--white-grey);
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--poppins);
    font-weight: 400 !important;
}

h2 {
    border-bottom: 2px solid black;
    width: fit-content;
    padding-bottom: 5px;
    margin-top: 0 !important;
}
.white-space-nowrap {
    white-space: nowrap;
}
.min-max-width-300 {
    min-width: 300px;
    max-width: 300px;
}

nav {
    height: 100px;
    line-height: 100px;
}
nav .navbar-item i {
    margin-right: 5px;
}
.navbar-item {
    color: var(--white) !important;
    transition: var(--transition);
}
a.navbar-item:hover {
    background-color: var(--main-light-red-hover) !important;
}

.section {
    min-height: 74vh;
}
.content {
    position: relative;
}
.content figure {
    margin-left: 0;
    margin-right: 0;
}
.page-section {
    top: -200px;
    position: absolute;
}


.button {
    font-weight: 300;
    border-width: 0;
    transition: var(--transition);
}
.button.color-none {
    border-width: 1px;
}
.label {
    font-weight: 500;
}
.order-field input {
    max-width: 45px;
    text-align: center;
}

.button.main-red-bg:hover {
    background-color: var(--main-light-red-hover);
    color: var(--white);
}
.button.main-teal-bg:hover {
    background-color: var(--main-teal-hover);
    color: var(--white);
}
.button.light-grey-bg:hover {
    background-color: var(--light-grey-hover);
}
.button.red-bg:hover {
    background-color: var(--red-hover);
    color: var(--white);
}

.edit-form-img {
    max-width: 300px;
    width: 100%;
}
.brand-logo img {
    width: 150px;
    vertical-align: middle;
}

.description-td {
    max-height: 130px;
    overflow: auto;
}