 <table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Occupation</th>
        <th>Email</th>
        <th>Github</th>
        <th>Linkedin</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ general_info.name }}</td>
        <td>{{ general_info.occupation }}</td>
        <td>{{ general_info.email }}</td>
        <td>{{ general_info.github }}</td>
        <td>{{ general_info.linkedin }}</td>
    </tr>
    </tbody>
</table>
<a href="{{ url_for('edit_general') }}"><button type="button" class="btn btn-light">Edit General Info</button></a>