 {% if projects %}
    <table class="table">
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Project Link</th>
        <th>Github Link</th>
        <th>Screenshot</th>
        <th>Description</th>
        <th>Tech List</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.link }}</td>
            <td>{{ project.github_link }}</td>
            <td><img src="/static/images/{{ project.screenshot }}" alt=""></td>
            <td>{{ project.description }}</td>
            <td>{{ project.tech_list }}</td>
        <td>
            <a href="{{ url_for('edit_project', id=project.id) }}"><button type="button" class="btn btn-light">Edit</button></a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

<a href="{{ url_for('add_project') }}"><button type="button" class="btn btn-primary">Add Project</button></a>