{% if education_list %}
    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Order</th>
                <th>School Name</th>
                <th>Duration</th>
                <th>Degree</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for education in education_list %}
                <tr>
                    <td>
                        <div class="field order-field">
                            <input type="text" name="order" class="input order-input" id="education_{{ education.id }}" maxlength="2" value="{{ education.order_ed }}">
                        </div>
                    </td>
                    <td>
                        {{ education.school }}
                    </td>
                    <td class="white-space-nowrap">
                        {{ education.time }}
                    </td>
                    <td class="white-space-nowrap">
                        {{ education.degree }}
                    </td>
                    <td>
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button light-grey-bg"
                                   href="{{ url_for('education_page.edit_education', id=education.id) }}"><span>Edit</span></a>
                            </p>
                            <p class="control">
                                <a class="button red-bg white btn-delete"
                                   href="{{ url_for('education_page.delete_education', id=education.id) }}"><span>Delete</span></a>
                            </p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<div class="field is-grouped">
    {% if education_list.count() > 0 %}
        <p class="control">
            <a class="button light-grey-bg save-order-btn" href="#" id="education_order">Save Order</a>
        </p>
    {% endif %}
    <p class="control">
        <a class="button main-teal-bg white" href="{{ url_for('education_page.add_education') }}"><span class="icon"><i
                class="material-icons">school</i></span><span>Add Education</span></a>
    </p>
</div>

