{% extends "base.html" %}
{% from "_render_form.html" import render_field %}

{% block title %}Portfolio Data - {{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-8-tablet is-6-desktop">
                <div class="box">
                    <div class="content">

                        <h1>{{ title }}</h1>

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <article class="message is-danger">
                                        <div class="message-body">
                                            {{ message|safe }}
                                        </div>
                                    </article>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    </div>

                    <form action="{{ url_for(request.endpoint) }}" method="POST">
                        {{ form.csrf_token }}

                        {% for field in form %}
                            {{ render_field(field) }}
                        {% endfor %}

                        <div class="field is-grouped">
                            <p class="control">
                                <input class="button light-grey-bg" type="submit" name="submit" id="submit" value={% if title == "Register" %}"Submit"{% else %}"Log In"{% endif %}>
                            </p>

                            <p class="control">
                                {% if title == "Register" %}
                                    <a class="button main-gun-metal white"
                                       href="{{ url_for('register_login_page.login') }}">Log in instead</a>
                                {% else %}
                                    <a class="button main-gun-metal white"
                                       href="{{ url_for('register_login_page.register') }}">Register</a>
                                {% endif %}
                            </p>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>

{% endblock %}