{% macro render_field(field) %}
    {% if field.type == 'CSRFTokenField' %}
    {% elif field.type == 'FileField' %}

        <div class="field">
            <label class="label">Image Upload</label>
            <div class="file is-normal has-name">
                <label class="file-label">
                    {{ field(class="file-input", **kwargs)|safe }}
                    <span class="file-cta">
                  <span class="file-icon">
                    <i class="material-icons">file_upload</i>
                  </span>
                  <span class="file-label">
                    Image File
                  </span>
                </span>
                    <span class="file-name">
                  File Name
                </span>
                </label>
            </div>
        </div>

    {% else %}

        <div class="field">
            {{ field.label(class_='label') }}

            {% set inputClass = '' %}

            {% if field.type == 'TextAreaField' %}
                {% set inputClass = 'textarea' %}
            {% else %}
                {% set inputClass = 'input' %}
            {% endif %}

            {% if field.errors %}
                {% set inputClass = inputClass ~ ' is-danger' %}
            {% endif %}

            <div class="control">
                {{ field(class=inputClass, **kwargs)|safe }}
            </div>

            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

    {% endif %}
{% endmacro %}