<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Portfolio Data{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% include'header.html' %}

<section class="section">
    {% block content %}
    {% endblock %}
</section>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

<footer class="footer main-teal-bg">
  <div class="content has-text-centered">
    <p class="white">
      Build by Tony Pham. The source code is licensed <a class="white" href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>

</body>
</html>
