{% extends "base.html" %}
{% from "_render_form.html" import render_field %}

{% block title %}Portfolio Data - {{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l8 offset-l2 offset-m1">
                <div class="box-framing z-depth-1">
                    <h2>{{ title }} Info</h2>

                    {% if title == "About" or title == "Project" %}
                        {% if image %}
                            <p>Current Uploaded Image:</p>
                            <div style="padding-bottom: 20px;">
                                <img class="materialboxed edit-form-img" src="/static/images/{{ image }}" alt="">
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if ckEditor %}
                        {{ ckeditor.load() }}
                        {{ ckeditor.config(name='body') }}
                    {% endif %}

                    <form action method="POST" enctype="multipart/form-data">
                        {{ form.csrf_token }}

                        {% for field in form %}
                            {{ render_field(field) }}
                        {% endfor %}

                        <div class="form__button-container">
                            <input class="btn waves-effect waves-light" type="submit" name="submit" id="submit" value="Submit">
                            <a class="grey lighten-3 black-text btn waves-effect waves-light" href="{{ url_for('main_page.home') }}#{{ title }}">Go Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        });
    </script>
{% endblock %}
