{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Portfolio Data{% endblock %}

{% block content %}
    {% include'/components/header.html' %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="margin-bottom: 40px;">{{ title }} Info</h1>

                {% if title == "About" or title == "Project" %}
                    {% if image %}
                        <p>Image: <img src="/static/images/{{ image }}" alt=""></p>
                    {% endif %}
                {% endif %}

                {% if title == "Experience" %}
                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name='body') }}
                {% endif %}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                <a href="{{ url_for('home') }}"><button type="button" style="margin-top: 15px;" class="btn btn-default">Go Back</button></a>
            </div>
        </div>
    </div>
{% endblock %}
