{% extends "bootstrap/base.html" %}

{% block title %}Portfolio Data{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-xs-12">
                <h1>Portfolio Data</h1>

                <h3>General</h3>
                {% if general_info %}
                    {% include'/includes/general_data.html' %}

                    <h3 style="margin-top: 50px;">About</h3>
                    {% include'/includes/about_data.html' %}

                    <h3 style="margin-top: 50px;">Experience</h3>
                    {% include'/includes/experience_data.html' %}

                    <h3 style="margin-top: 50px;">Education</h3>
                    {% include'/includes/education_data.html' %}

                    <h3 style="margin-top: 50px;">Education</h3>
                    {% include'/includes/skills_data.html' %}
                {% else %}
                    <a href="{{ url_for('general') }}"><button type="button" class="btn btn-primary">Add General Info</button></a>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}