{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Portfolio Data{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Skills Info</h1>
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                <a href="{{ url_for('home') }}"><button type="button" class="btn btn-default">Go Back</button></a>
            </div>
        </div>
    </div>
{% endblock %}