{% if about_info %}
    <div class="content">
        <div class="columns is-flex-wrap-wrap">

            <div class="column is-full">
                <p class="has-text-weight-semibold">Uploaded Image:</p>
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/static/images/{{ about_info.image }}" alt="">
                </figure>
            </div>

            <div class="column is-full">
                <p class="has-text-weight-semibold">Intro:</p>
                <p>
                    {{ about_info.intro }}
                </p>
            </div>

            <div class="column is-full">
                <p class="has-text-weight-semibold">Section 1:</p>
                <p>
                    {{ about_info.section_one }}
                </p>
            </div>

              <div class="column is-full">
            <div class="columns">
                <div class="column is-one-fourth">
                    <p class="has-text-weight-semibold">Skills Work:</p>
                </div>
                <div class="column is-three-quarters">
                    <p>{{ about_info.skills_work }}</p>
                </div>
            </div>
        </div>

            <div class="column is-full">
                <p class="has-text-weight-semibold">Section 2:</p>
                <p>
                    {{ about_info.section_two }}
                </p>
            </div>

                  <div class="column is-full">
            <div class="columns">
                <div class="column is-one-fourth">
                    <p class="has-text-weight-semibold">Goto Skills:</p>
                </div>
                <div class="column is-three-quarters">
                    <p>{{ about_info.skills_goto }}</p>
                </div>
            </div>
        </div>


        </div>
    </div>

    <div class="field is-grouped">
        <p class="control">
            <a class="button light-grey-bg" href="{{ url_for('about_page.edit_about') }}"><span class="icon"><i
                    class="material-icons">edit</i></span><span>Edit About Info</span></a>
        </p>

        <p class="control">
            <a class="button red-bg white" href="{{ url_for('about_page.delete_about') }}"><span class="icon"><i
                    class="material-icons">delete_forever</i></span><span>Delete About Info</span></a>
        </p>
    </div>
{% else %}
    <div class="field">
        <p class="control">
            <a class="button main-teal-bg white" href="{{ url_for('about_page.about') }}"><span class="icon"><i
                    class="material-icons">person</i></span><span>Add About Info</span></a>
        </p>
    </div>
{% endif %}