{% if about_info %}
    <table class="table">
        <thead>
        <tr>
            <th>Intro</th>
            <th>Image</th>
            <th>Section 1</th>
            <th>Skills Work</th>
            <th>Section 2</th>
            <th>Goto Skills</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ about_info.intro }}</td>
            <td><img src="/static/images/{{ about_info.image }}" alt=""></td>
            <td>{{ about_info.section_one }}</td>
            <td>{{ about_info.skills_work }}</td>
            <td>{{ about_info.section_two }}</td>
            <td>{{ about_info.skills_goto }}</td>
        </tr>
        </tbody>
    </table>

    <div class="table-btn">
        <a class="btn waves-effect waves-light" href="{{ url_for('about_page.edit_about') }}"><i class="material-icons">edit</i>Edit About Info</a>
        <a class="btn-delete grey lighten-3 btn waves-effect waves-light" href="{{ url_for('about_page.delete_about') }}"><i class="material-icons">delete_forever</i>Delete About Info</a>
    </div>
{% else %}
    <div class="table-btn">
        <a class="btn waves-effect waves-light" href="{{ url_for('about_page.about') }}"><i class="material-icons">person</i>Add About Info</a>
    </div>
{% endif %}