{% if education_list %}
     <table class="responsive-table">
    <thead>
    <tr>
        <th>School Name</th>
        <th>Duration</th>
        <th>Degree</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for education in education_list %}
        <tr>
            <td>
                {{ education.school }}
            </td>
        <td>
                {{ education.time }}
            </td>
        <td>
                {{ education.degree }}
            </td>
        <td>
            <a href="{{ url_for('education_page.edit_education', id=education.id) }}"><button type="button" class="btn btn-light">Edit</button></a>
            <a href="{{ url_for('education_page.delete_education', id=education.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

<a class="btn" href="{{ url_for('education_page.add_education') }}">Add Education</a>