{% if experiences %}
    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Order</th>
                <th>Company Name</th>
                <th>Position</th>
                <th>Time</th>
                <th>Link</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for experience in experiences %}
                <tr>
                    <td>
                        <div class="field order-field">
                            <input type="text" name="order" class="input order-input" id="experience_{{ experience.id }}" maxlength="2" value="{{ experience.order_exp }}">
                        </div>
                    </td>
                    <td class="white-space-nowrap">
                        {{ experience.name }}
                    </td>
                    <td class="white-space-nowrap">
                        {{ experience.position }}
                    </td>
                    <td class="white-space-nowrap">
                        {{ experience.time }}
                    </td>
                    <td class="white-space-nowrap">
                        {{ experience.link }}
                    </td>
                    <td class="min-max-width-300">
                        {{ experience.description|safe }}
                    </td>

                    <td>
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button light-grey-bg"
                                   href="{{ url_for('experience_page.edit_experience', id=experience.id) }}"><span>Edit</span></a>
                            </p>
                            <p class="control">
                                <a class="button red-bg white btn-delete"
                                   href="{{ url_for('experience_page.delete_experience', id=experience.id) }}"><span>Delete</span></a>
                            </p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<div class="field is-grouped">
    {% if experiences.count() > 0 %}
        <p class="control">
            <a class="button light-grey-bg save-order-btn" href="#" id="experience_order">Save Order</a>
        </p>
    {% endif %}
    <p class="control">
        <a class="button main-teal-bg white" href="{{ url_for('experience_page.add_experience') }}"><span
                class="icon"><i class="material-icons">work</i></span><span>Add Experience</span></a>
    </p>
</div>