 {% if experiences %}
    <table class="responsive-table">
    <thead>
    <tr>
        <th>Company Name</th>
        <th>Position</th>
        <th>Time</th>
        <th>Link</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for experience in experiences %}
        <tr>
            <td>
                {{ experience.name }}
            </td>
        <td>
                {{ experience.position }}
            </td>
        <td>
                {{ experience.time }}
            </td>
        <td>
                {{ experience.link }}
            </td>
        <td>
                {{ experience.description|safe }}
            </td>
        <td>
            <a href="{{ url_for('experience_page.edit_experience', id=experience.id) }}"><button type="button" class="btn btn-light">Edit</button></a>
            <a href="{{ url_for('experience_page.delete_experience', id=experience.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

<a href="{{ url_for('experience_page.add_experience') }}"><button type="button" class="btn btn-primary">Add Experience</button></a>