 <table class="responsive-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Occupation</th>
        <th>Email</th>
        <th>Github</th>
        <th>Linkedin</th>
        <th>Intro Text</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ general_info.name }}</td>
        <td>{{ general_info.occupation }}</td>
        <td>{{ general_info.email }}</td>
        <td>{{ general_info.github }}</td>
        <td>{{ general_info.linkedin }}</td>
        <td>{{ general_info.front_text }}</td>
    </tr>
    </tbody>
</table>

<div class="table-btn">
    <a class="btn waves-effect waves-light" href="{{ url_for('general_page.edit_general') }}"><i class="material-icons">edit</i>Edit General Info</a>
</div>