{% if projects %}
    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Order</th>
                <th>Project Name</th>
                <th>Project Link</th>
                <th>Github Link</th>
                <th>Screenshot</th>
                <th>Description</th>
                <th>Tech List</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <div class="field order-field">
                            <input type="text" name="order" class="input order-input" id="project_{{ project.id }}" maxlength="2" value="{{ project.order_project }}">
                        </div>
                    </td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.link }}</td>
                    <td>{{ project.github_link }}</td>
                    <td>
                        <figure class="image is-128x128">
                            <img src="{{ config.S3_IMAGE_PATH }}/{{ project.screenshot }}" alt="">
                        </figure>
                    </td>
                    <td class="min-max-width-300">
                        <div class="description-td">
                            {{ project.description }}
                        </div>
                    </td>
                    <td>{{ project.tech_list }}</td>
                    <td>
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button light-grey-bg"
                                   href="{{ url_for('project_page.edit_project', id=project.id) }}"><span>Edit</span></a>
                            </p>
                            <p class="control">
                                <a class="button red-bg white btn-delete"
                                   href="{{ url_for('project_page.delete_project', id=project.id) }}"><span>Delete</span></a>
                            </p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<div class="field is-grouped">
    {% if projects.count() > 0 %}
        <p class="control">
            <a class="button light-grey-bg save-order-btn" href="#" id="project_order">Save Order</a>
        </p>
    {% endif %}
    <p class="control">
        <a class="button main-teal-bg white" href="{{ url_for('project_page.add_project') }}"><span
                class="icon"><i class="material-icons">view_compact</i></span><span>Add Project</span></a>
    </p>
</div>
