 {% if projects %}
    <table class="responsive-table">
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Project Link</th>
        <th>Github Link</th>
        <th>Screenshot</th>
        <th>Description</th>
        <th>Tech List</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.link }}</td>
            <td>{{ project.github_link }}</td>
            <td><img class="materialboxed" src="/static/images/{{ project.screenshot }}" alt=""></td>
            <td>{{ project.description }}</td>
            <td>{{ project.tech_list }}</td>
        <td class="button__container">
            <a class="btn btn-small waves-effect waves-light" href="{{ url_for('project_page.edit_project', id=project.id) }}">Edit</a>
            <a class="btn-delete grey lighten-3 black-text btn btn-small waves-effect waves-light" href="{{ url_for('project_page.delete_project', id=project.id) }}">Delete</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

<div class="table-btn">
    <a class="btn waves-effect waves-light" href="{{ url_for('project_page.add_project') }}"><i class="material-icons left">view_compact</i>Add Project</a>
</div>
