{% if skills %}
    <table class="table">
        <thead>
        <tr>
            <th>Language</th>
            <th>Framework/Library</th>
            <th>Database</th>
            <th>Misc</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ skills.language }}</td>
            <td>{{ skills.framework_library }}</td>
            <td>{{ skills.database }}</td>
            <td>{{ skills.misc }}</td>
        </tr>
        </tbody>
    </table>

    <div class="table-btn">
        <a class="btn waves-effect waves-light" href="{{ url_for('skills_page.edit_skills') }}"><i class="material-icons">edit</i>Edit Skills Info</a>
        <a class="btn-delete grey lighten-3 btn waves-effect waves-light" href="{{ url_for('skills_page.delete_skills') }}"><i class="material-icons">delete_forever</i>Delete Skills Info</a>
    </div>

{% else %}
    <div class="table-btn">
        <a class="btn waves-effect waves-light" href="{{ url_for('skills_page.skills') }}"><i class="material-icons">download_done</i>Add Skills Info</a>
    </div>
{% endif %}