<div class="container is-fluid main-red-bg">
    <nav class="navbar main-red-bg" role="navigation" aria-label="main navigation">

        <div class="navbar-brand is-align-items-center">
            <a class="brand-logo" href="{{ url_for('main_page.home') }}"><img
                    src="{{ url_for('static', filename='logo/logo_w.png') }}" alt="">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbar_portfolio">
                <span class="white" aria-hidden="true"></span>
                <span class="white" aria-hidden="true"></span>
                <span class="white" aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar_portfolio" class="navbar-menu main-red-bg">
            <div class="navbar-end">
                {% if title == "Register" or title == "Login" %}
                {% else %}
                    <a class="navbar-item" href="{{ url_for('account.my_account') }}">
                        <span class="icon">
                            <i class="material-icons">manage_accounts</i>
                        </span>
                        <span>My Account</span>
                    </a>
                    <a class="navbar-item" href="{{ url_for('register_login_page.logout') }}">
                        <span class="icon">
                            <i class="material-icons">logout</i>
                        </span>
                        <span>
                            Log Off
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>

    </nav>
</div>